<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>兑换奖品</title>
    <link rel="icon" href="../../favicon2018921.ico" type="image/x-icon"/>
    <script src="../../js/appcommon.js"></script>
    <style>
        .cell-item:not(:last-child){border: 0}
    </style>
</head>
<body>
        <div id="htmlWap" v-cloak>
            <div class="personbg">
                <img src="../../images/duijiang/img-ydj.png" />
            </div>
            <div class="duihuandetailcon">
                <div class="orderlistshow">
                    <div class="pic">
                        <img :src="goodsImg" alt="商品图片" />
                    </div>
                    <div class="textright">
                        <h6>{{goodsName}}</h6>
                        <h3>{{orderTime}}</h3>
                        <div class="checkdetail">
                            <a href="javaScript:;" class="cell-item">
                                <div class="cell-left text-gray">订单号:{{orderNo}}</div>
                                <div class="cell-right bluecopylink">已兑换</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--话费信息-->
                <section  v-if="orderType==20">
                    <div class="orderlistshow noflex">
                        <h1>您的兑奖信息</h1>
                        <div class="m-cell">
                            <div class="cell-item">
                                <div class="cell-left"><strong>兑奖手机号</strong></div>
                                <div class="cell-right">{{userPhone}}</div>
                            </div>
                        </div>
                    </div>
                    <p class="texttip">话费兑奖仅支持充值到您的注册账号。</p>
                </section>
                <!--数字货币、算力-->
                <section  v-if="orderType==30 || orderType==40">
                    <div class="orderlistshow noflex">
                        <h1>您的兑奖信息</h1>
                        <div class="m-cell">
                            <p class="cell-text">{{shInfo}}</p>
                        </div>
                    </div>
                    <p class="texttip">数字货币已通过系统自动发放至您的账号。</p>
                </section>
                <!--实物信息-->
                <section  v-if="orderType==10">
                    <div class="orderlistshow noflex" v-if="orderType==10">
                        <h1><strong>收货地址</strong></h1>
                        <div class="m-cell">
                            <div class="cell-item">
                                <div class="cell-left">{{userName}}</div>
                                <div class="cell-right">{{userPhone}}</div>
                            </div>
                            <div class="m-cell">
                                <p class="cell-text">{{address}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="orderlistshow noflex" v-if="shInfoRemark">
                        <h1><strong>发货信息</strong></h1>
                        <div class="m-cell">
                            <div class="cell-item">
                                <div class="cell-left">物流编号：</div>
                                <div class="cell-right">{{shipments}}</div>
                            </div>
                            <div class="cell-item">
                                <div class="cell-left">发货时间：</div>
                                <div class="cell-right">{{shTime}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="orderlistshow noflex" v-else>
                        <h1><strong>发货信息</strong></h1>
                        <div class="m-cell">
                             <p class="cell-text"> 暂未发货</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
            <!--等待图标-->
            <!--<div class="pukeloading" v-show="loadpic">-->
                <!--<img src="../../images/pukeloading.gif"/>-->
            <!--</div>-->
</body>
<script>
    /* 获取头部信息 */
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return r[2];
        }
    };

    $(function () {
        var apphtml = new Vue({
            el: '#htmlWap',
            data: {
                token: GetQueryString('token'),
                appType: GetQueryString("appType"),            //来源
                goodsImg: GetQueryString("goodsImg"),          //订单图片
                // goodsImg:'../../images/hashrate.png',          //订单图片
                goodsName: decodeURI(GetQueryString("goodsName")),       //奖品标题
                orderNo: GetQueryString("orderNo"),         //订单编号
                orderTime: decodeURI(GetQueryString("buyTime")),       //订单时间

                shInfo:'',
                userName: '您的姓名',                         //房间名称
                userPhone:'',                    //用户手机号
                orderType:'',
                address:'',
                shInfoRemark:false,                        //发货信息状态
                shTime:'',                                  //发货时间
                shipments:''                               //发货信息
            },
            methods: {
                getUserWalletInfo:function() {
                    this.$http({
                        method: "post",
                        url: snatch + "/appUserShOrder/getDhOrderInfo",
                        data: {
                            token: this.token,
                            orderNo:GetQueryString("orderNo"),      //订单号
                            platform: 'H5'
                        },
                        emulateJSON: true
                    }).then(function (data) {
                        console.log(data);
                        if (data.data.code == 0) {
                            var info=data.data.data;
                            this.orderType=info.orderType;
                            if(info.orderType==30 || info.orderType==40){
                                this.shInfo=info.shInfo;
                            }
                            if(info.orderType==20){
                                this.userPhone=info.shInfo;
                            }
                            if(info.orderType==10){
                                this.userName=info.shInfo.shName;
                                this.address=info.shInfo.addr;
                                this.userPhone=info.shInfo.shPhone;
                                if(info.shInfo.shInfoRemark){
                                    this.shInfoRemark=true;
                                    this.shipments=info.shInfo.shInfoRemark;
                                    this.shTime=info.shInfo.fhTime;
                                }
                            }
                        } else {
                            layer.msg(data.data.message);
                        }
                    }, function (error) {
                        layer.msg('接口出错');
                    });
                },
            },
            mounted: function () {
                this.getUserWalletInfo();
                var orderimg=this.goodsImg.split(",");
                this.goodsImg=orderimg[0];
            },
            beforeCreate: function () {
                //加载层
                this.$nextTick(function () {
                    var that = this;
                    setTimeout(function () {
                        that.loadpic = false;
                    }, 1000)
                })
            }
        });
    });
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?839939f47e36cd37836766e160e1a8f6";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</html>