<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>树苗交易</title>
    <link rel="icon" href="../../favicon2018921.ico" type="image/x-icon"/>
    <script src="../../js/appcommon.js"></script>
</head>
<style>
    .hello .tab-panel-item{margin: 0 auto; padding: 0; width: 95%}
</style>
<body>
<div id="htmlWap" v-cloak>
   <header class="m-navbar">
        <a href="javascript:;" @click="goback" class="navbar-item">
            <i class="back-ico"></i>
        </a>
        <div class="navbar-center">
            <span class="navbar-title">树苗交易</span>
        </div>
        <a href="javascript:;" @click="gorecord(token)" class="navbar-item">
            交易记录
       </a>
    </header>
    <div class="hello">
        <!-- tab -->
        <section class="mart10">
            <ul class="tab-nav">
                <li class="tab-nav-item"
                    :class="tabactive?'tab-active':''"
                    @click="saletab(0)"
                ><a href="javascript:;">购买树苗</a></li>
                <li
                        class="tab-nav-item"
                        :class="tabactive2?'tab-active':''"
                        @click="saletab(1)"
                ><a href="javascript:;">出售树苗</a></li>
            </ul>
            <div class="tab-panel">
                <div class="tab-panel-item tab-active">
                    <ul>
                        <li class="seedlist" v-for="(item,index) in buylist" :key="index">
                            <h1>
                            <span class="userphoto">
                              <img :src="item.userPhoto" alt="用户头像"/>
                            </span><span class="userName">{{item.userNickname}}</span>
                            </h1>
                            <section class="seedWbg">
                                <div class="listcell">
                                    <div class="cellLR">
                                        <div class="left_cell">出售总数:<span class="graytext">{{item.goodsNum}}</span>
                                        </div>
                                        <div class="right_cell">已成交:<span class="graytext" >{{item.userId}}笔</span>
                                        </div>
                                    </div>
                                    <div class="cellLR">
                                        <div class="left_cell">剩余数量:<span class="graytext">{{item.residueNum}}</span>
                                        </div>
                                        <div class="right_cell"></div>
                                    </div>
                                </div>
                                <section class="cellLR padtb5">
                                    <span class="left_cell">树苗售价:<strong
                                            class="greenText">{{item.goodsPrice}}BGT/棵</strong></span>
                                    <span class="right_cell">
                                        <button @click="clickHandler(token,item)" v-if="getType==10" class="smallbuyBtn">立即购买</button>
                                        <button @click="clickHandler(token,item)"  v-if="getType==20" class="smallbuyBtn">立即出售</button>
                                  </span>
                                </section>
                            </section>
                        </li>
                        <p class="nodata" v-if="buylist.length==0">暂无数据</p>
                    </ul>
                </div>
            </div>
        </section>
        <!-- 右下角添加 -->
        <div class="roundicon" @click="pluslink(token)">
            <img src="../../images/seed/rightPlus.png"/>
        </div>
    </div>
</div>
</body>
<script>
    /* 获取头部信息 */
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return r[2];
        }
    };
    $(function () {
        new Vue({
            el: '#htmlWap',
            data: {
                token: GetQueryString('token'),//头部获取。,
                appType: GetQueryString('appType'),//头部获取设备来源,
                userphoto: "../../images/notuserphoto.png",
                userName: "珠穆拉玛",
                tabactive: true,
                tabactive2: false,
                getType:10,                            //交易类型10：出售单，20：收购单
                buylist: [{
                    userPhoto: "../../images/notuserphoto.png",
                    userName: '低调的风',
                    gameType: 10000,
                    pourMoney: 20,
                    resultMoney: 200,
                    pourMoney: 5
                }],
                finishnum:[]
            },
            methods: {
                saletab: function (type) {
                    if (type == 0) {
                        this.getType =10;
                        this.tabactive = true;
                        this.tabactive2 = false;
                        this.getlist();
                    } else if (type == 1) {
                        this.getType =20;
                        this.tabactive = false;
                        this.tabactive2 = true;
                        this.getlist();
                    }
                },
                gorecord:function(token){
                  window.location.href="dealRecord.html?token="+token;
                },
                pluslink: function (token) {
                    window.location.href = "orderDeal.html?token=" + token;
                },
                clickHandler: function (token,item) {
                    // this.$router.push({ path: "/view/h5/app/seed/seedBuy" });
                    window.location.href = "seedBuy.html?token=" + token+"&goodsNum="+item.goodsNum+"&residueNum="+item.residueNum+"&goodsId="+item.rowId+"&goodsPrice="+item.goodsPrice+"&finishNum="+item.userId+"&getType="+this.getType+"&userNickname="+encodeURIComponent(item.userNickname)+"&userPhoto="+item.userPhoto;
                },
                getlist: function () {
                    var that=this;
                    that.buylist=[];
                    this.$http({
                        method: "post",
                        url:  "http://192.168.192.121:20050/appSceneGoods/getGoodsList",
                        data: {
                            token: this.token,
                            getType: this.getType,
                            platform: 'H5'
                        },
                        emulateJSON: true
                    }).then(function (data) {
                        console.log(data);
                        // this.buylist = data.data.data.list;
                        if(data.data.code==0){
                            that.finishnum=data.data.data.finishNumMap;
                      
                            for (var i  in data.data.data.list) {
                                    var item = data.data.data.list[i]
                                        that.buylist.push(item);
                                        if(!item.userPhoto){
                                            item.userPhoto="../../images/notuserphoto.png";
                                        }
                                        var num=item.userId;
                                        if(item.userId=that.finishnum[num]){
                                            item.userId=that.finishnum[num]
                                        };
                            }
                        }
                    }, function (error) {
                        layer.msg('接口出错');
                    });
                },
                goback:function(appType){
                    if (appType == 'ios') {
                    //调用IOS原生方法
                        window.webkit.messageHandlers.gofarm.postMessage(1);
                        return;
                    } else if (appType == 'android') {
                        window.android.gofarm(1);
                        return;
                    } else {
                        console.log(1);
                        layer.msg('请在手机端操作')
                        return;
                    }
                }
            },
            mounted: function () {
                this.getlist()
            }
        })
    });
</script>
</html>