<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>邀请注册</title>
    <link rel="icon" href="../../favicon2018921.ico" type="image/x-icon"/>
    <script src="../../js/appcommon.js"></script>
    <style>.regqcodeDialog {
        z-index: 99999999999999999
    }

    .layui-layer {
        background: #f44479 !important
    }</style>
</head>
<body>
<div class="freeregnew" id="htmlWap" v-cloak>
    <div class="regtext">
        <img src="../../images/snatchactive/newusertext.png"/>
    </div>
    <img class="regpic" src="../../images/snatchactive/oneactivepic.png"/>
    <h6 class="freeonetext">1BGT即可参与抢购1ETH大奖，赶快下载APP参与</h6>
    <img class="regpic" src="../../images/snatchactive/regchahua.png"/>
    <div class="regedit">
        <input type="number" pattern="[0-9]*" oninput="if(value.length>11)value=value.slice(0,11)" class="cell-input"
               placeholder="请输入手机号码" autocomplete="off" v-model="userPhone">
        <div class="freegetbtn">
            <img src="../../images/snatchactive/getfreebtn.png"/>
            <div class="text" @click="savePhone()">
                立即领取10BGT
            </div>
        </div>
        <h6>下载布谷APP，立即参与夺宝活动</h6>

        <div class="partingLine"><span class="lineGray"></span></div>
        <div class="activeshm">
            <h3>活动声明</h3>
            <div class="activeshmp">
                <p>1、被邀请用户领取成功，必须登录布谷APP才可生效。</p>
                <p>2、每个手机号仅可领取一次活动奖励。</p>
                <p>3、严禁使用外挂或机器人进行非人工方式参与邀请活动，一经发现有封号危险。</p>
            </div>
            <h6>活动解释归布谷所有</h6>
        </div>
    </div>
    <div class="regqcodeDialog"><img src="../../images/regpopup.png"/>
        <div v-if="oldman" class="alreadyreg">您已经领取过<br>新人注册礼包</div>
        <div v-if="newman" class="alreadyreg">恭喜获得奖励<br><strong>10BGT</strong><br>
            <p>奖励当天有效，过期将被收回</p></div>
        <div class="regdialogbtnwk"><strong>奖励已放入<span class="yellow">{{userPhonehide}}</span>账户内</strong>
            <button type="button" v-show="saveBtn" id="saveBtn" class="btn-block btn-primary reg_btnorange"
                    @click="downloadpage()">点击查看
            </button>
        </div>
    </div>
</div>
</body>
<script src="../../js/md5.js"></script>
<script src="../../js/base64.min.js"></script>
<script>
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return r[2]
        }
    }

    var code = GetQueryString("code");
    if (code == "null" || code == "") {
        code = 0
    }
    $(function () {
        var htmlWap = new Vue({
            el: "#htmlWap",
            data: {userPhone: "", inviteCode: code, oldman: false, newman: false, userPhonehide: ""},
            methods: {
                savePhone: function () {
                    if (this.userPhone.length != 11 || !/^1[3456789]\d{9}$/.test(this.userPhone)) {
                        layer.msg("请输入正确手机号!");
                        return
                    }
                    var senddata = "inviteCode=" + this.inviteCode + "&phone=" + this.userPhone + "&platform=H5";
                    var sign = $.md5(senddata + key);
                    var mbencode = Base64.encode(sign);
                    this.$http({
                        method: "post",
                        url: sysh5 + "/appReadyReg/readyReg",
                        data: {phone: this.userPhone, inviteCode: this.inviteCode, platform: "H5", sign: mbencode},
                        emulateJSON: true
                    }).then(function (data) {
                        this.userPhonehide = (this.userPhone + "").replace(/(\d{3})\d{4}(\d{4})/, "$1****$2");
                        if (data.data.code == 0) {
                            this.oldman = false;
                            this.newman = true;
                            layer.open({
                                type: 1,
                                title: false,
                                closeBtn: 0,
                                area: "80%",
                                shadeClose: true,
                                content: $(".regqcodeDialog")
                            })
                        } else {
                            if (data.data.code == 1) {
                                this.oldman = true;
                                this.newman = false;
                                layer.open({
                                    type: 1,
                                    title: false,
                                    closeBtn: 0,
                                    area: "80%",
                                    shadeClose: true,
                                    content: $(".regqcodeDialog")
                                })
                            } else {
                                layer.msg(data.data.message)
                            }
                        }
                    }, function (error) {
                        console.log(error)
                    })
                }, downloadpage: function () {
                    window.location.href = "http://www.bugu.one?Math="+Math.random();
                }
            },
            mounted: function () {
            }
        })
    });
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?839939f47e36cd37836766e160e1a8f6";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</html>